# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


**/.idea/
**/.gradle
**/node_modules/
.DS_Store
target/
.classpath
.project
.settings
**/.checkstyle
app/bin/
app/build/